* {
    font-family: 'Times New Roman', Times, serif;
}

#blockTasks {
    background-color:salmon ;
}

#list {
    margin: 25px;
    padding: 5px;
    text-align: center;
    background-color: silver;
    border:2px blue ;
    border-radius: 10px;
}

ul>li {
    cursor: pointer;
    width: 150px;
    font-size: 18px;
}


#divTasks {
    text-align: center;
    padding: 10px;
}

button {
    margin: 5px;
    background-color: white;
    border: 2px blue solid;
    border-radius: 5px;
    outline: none;
    height: 40px;
    width: 250px;
}

button:hover {
    color: white;
    background-color: blue;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.selected {
    background-color: pink;
}